.lyric-message-plate {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 10000;
  pointer-events: none;
  background: transparent;
}

.lyric-message {
  transition: all 0.3s;
  pointer-events: all;
  margin-top: -5px;
  opacity: 0;
  text-align: center;
}

.lyric-message-content {
  display: inline-block;
  overflow: hidden;
  padding: 8px 12px;
  color: #333;
  vertical-align: middle;
  font-size: 12px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
  user-select: none;
}

.lyric-message .icon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  overflow: hidden;
  vertical-align: middle;
  fill: currentColor;
}
